html, body {
    padding:0;
    margin:0;
    height:100vh;
}

body {
    display:grid;
    place-content:center;
    background:#eee;
}

main {
    display:grid; width:100vw; height:100vh;
    box-sizing:border-box; padding:1rem;
    grid-template: 
        'preview render' auto
        'preview light' auto
        'preview font' auto
        'text color' 1fr
        / 2.5fr 1fr;
    gap:1em;
}

.preview {
    grid-area:preview;
    width:100%; height:100%;
    display:grid;
    place-content:center;
    overflow:hidden;
    box-sizing:border-box;
    border:thin dashed rgba(0,0,0,0.3);
}

.preview canvas {
    display:block;
    border:thin solid rgba(0,0,0,0.3);
}

#el_controls {
    display:contents;
    font:1em/1 monospace;
}

input, textarea {
    margin:0;
    padding:0;
    width:100%;
    box-sizing:border-box;
}

#el_controls {
    display:contents;
    font:1em/1 monospace;
}

input, textarea {
    margin:0;
    padding:0;
    width:100%;
    box-sizing:border-box;
}

.section {
    display:grid; min-width:32ch;
    gap:0.5rem;
    grid-template-columns:20ch 1fr;
    align-content:start;
}

#el_canvas:hover {
    box-shadow:0 0 10px rgba(0,0,0,0.1) inset;
}

.section h2 {
    grid-column:1/-1;
    margin:0 0 0.5rem 0;
    padding:0;
    font:bold 1.5em/1 monospace;
    text-decoration: underline;
}

.text.section {
    grid-area:text;
    grid-template-columns:1fr;
    grid-template-rows:auto 1fr;
}

#el_text {
    height:100%;
}

.font.section {
    grid-area:font;
}

.color.section {
    grid-area:color;
}

.light.section {
    grid-area:light;
}

.render.section {
    grid-area:render;
}