html, body {
    padding:0;
    margin:0;
    height:100vh;
}

body {
    background:#eee;
}

main {
    font:1em/1 monospace;
    display:grid; width:100%; height:100vh; 
    grid-template: 
        'preview sidebar' 70vh
        'text    sidebar' 1fr
        / 1fr auto;
    gap:0 5vmin;
}

/*
Preview
*/

.preview {
    grid-area:preview;
    width:100%; height:100%;
    display:grid;
    place-content:center;
    overflow:hidden;
    box-sizing:border-box;
    border:thin dashed rgba(0,0,0,0.3);
}

#el_canvas {
    display:block;
    border:thin solid rgba(0,0,0,0.3);
    box-sizing:border-box;
}

/*
Text
*/

.text.section {
    grid-area:text;
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows:auto 1fr;
}

#el_text {
    display:block; width:100%; height:100%;
    box-sizing:border-box;
    margin:0;
}


/*
Sidebar
*/

.sidebar {
    grid-area:sidebar;
    justify-self:end;
    overflow-y:scroll;
    display:grid; height:100%; width:50ch;
    align-content:start;
    grid-template:
        'render' auto
        'dump' auto
        'font' auto 
        'light' auto 
        'shadow' auto
        'color' auto
        /1fr;
    gap:1rem;
}

.sidebar details summary {
    cursor:pointer;
    font-weight:bold;
}

.sidebar details > section {
    margin:1rem;
    margin-bottom:0;
}

.sidebar select, 
.sidebar input, 
.sidebar button {
    min-height:1.2rem;
    width:12ch;
    font-size:1em;
    margin:0;
    box-sizing:border-box;
}

.sidebar label {
    display:contents;
}

.sidebar .section > section {
    display:grid;
    grid-template-columns:20ch 1fr;
    gap:0 1rem;
    align-items:center;
}

.sidebar hr {
    grid-column:1/-1;
    width:100%; height:0;
    border:0 none;
    border-bottom:thin dashed currentColor;
    opacity:0.5;
}

/*
Render Section 
*/

.render.section {
    grid-area:render;
}

/*
Dump Section
*/

.dump.section {
    grid-area:dump;
}

/*
Light Section
*/

.light.section {
    grid-area:light;
}

/*
Shadow Section
*/

.shadow.section {
    grid-area:shadow;
}


/*
Font Section
*/

.font.section {
    grid-area:font;
}

/*
Color Section
*/

.color.section {
    grid-area:color;
}
