/*
Reset
*/

html, body {
    padding:0;
    margin:0;
}

/*
---- 
*/

html, body {
    height:100vh;
}

body {
    background:#eee;
}

main {
    font:1em/1 monospace;
    display:grid; width:100%; height:100vh; 
    grid-template: 
        'main sidebar' 1fr
        / 1fr auto;
}


/*
Main column
*/

.main.column {
    grid-area:main;
    display:grid;
    grid-template:
        'preview' 70vh
        'text' 1fr
        / 1fr;
    box-sizing:border-box; padding:1rem;
} 

/*
Preview
*/

.preview {
    grid-area:preview;
    display:grid; width:100%; height:100%;
    place-content:center;
    overflow:hidden;
    box-sizing:border-box; 
    border:thin dashed rgba(0,0,0,0.3);
}

#el_canvas {
    display:block;
    box-sizing:border-box;
    border:thin solid rgba(0,0,0,0.3);
}

/*
Text
*/

.text.section {
    grid-area:text;
    display:grid; width:100%; height:100%;
    grid-template-rows:auto 1fr; 
}

.text.section .title {
    font:unset;
    font-weight:bold;
}

#el_textContent {
    display:block; width:100%; height:100%;
    box-sizing:border-box;
    margin:0;
    resize:none;
}


/*
Sidebar
*/

.sidebar {
    grid-area:sidebar;
    justify-self:end;
    display:grid; height:100%; width:50ch;
    align-content:start;
    grid-template:
        'font' auto
        'render' auto 
        'foreground' auto
        'light' auto 
        'info' auto
        /1fr;
    overflow-y:scroll;
    box-sizing:border-box;
    padding:1rem;
}
/* 
Bug: container padding is collapsed IF last elm is a "closed" <details>
Fixed: add an extra elm with `height` of "padding size" 
*/
.sidebar:after { content:''; display:block; height:1rem; }

.sidebar select, 
.sidebar input, 
.sidebar button {
    min-height:1.2rem;
    width:12ch;
    font-size:1em;
    margin:0;
    box-sizing:border-box;
}

.sidebar details { 
    margin:0.5em 0; 
}

.sidebar details > summary {
    cursor:pointer;
    font-weight:bold;
}

.sidebar details > summary > small {
    opacity:0.9;
    padding:0 0 0 1ch;
    font-weight:normal; 
}

.sidebar details > summary > small:before { 
    content:'#';
    padding:0 1ch 0 0;
}

.sidebar details > section {
    margin:1rem;
    display:grid;
    grid-template-columns:20ch 1fr;
    gap:0 1rem;
    align-items:center;
}

.sidebar details label {
    display:contents;
}

/*
Render Section 
*/

.render.section {
    grid-area:render;
}

/*
Light Section
*/

.light.section {
    grid-area:light;
}

/*
Shadow Section
*/

.shadow.section {
    grid-area:shadow;
}


/*
Font Section
*/

.font.section {
    grid-area:font;
}

/*
Foreground Section
*/

.foreground.section {
    grid-area:foreground;
}

/*
App Info Section
*/

.info.section {
    grid-area:info;
    display:grid;
}

.info.section > section {
    grid-template-columns:auto 1fr;
    gap:0.5ch 1rem;
}

.info.section hr {
    grid-column:1/-1;
    border:0 none;
    border-bottom: thin dashed currentColor; 
    width:100%; height:1px; 
}